DATABASE_URL=postgresql://postgres:password@localhost:5433/my-better-t-app
CORS_ORIGIN=http://localhost:3001
NODE_ENV=development
BUCKET_ENDPOINT=http://localhost:9000
BUCKET_ACCESS_KEY=minioadmin
BUCKET_SECRET_KEY=minioadmin
BUCKET_NAME=chunks
BUCKET_REGION=us-east-1
ASSEMBLY_AI_API_KEY=your_assemblyai_api_key_here
